-- User: talend
-- DROP USER talend;
CREATE USER talend WITH ENCRYPTED PASSWORD '##########' LOGIN SUPERUSER INHERIT CREATEDB CREATEROLE REPLICATION;
GRANT postgres TO talend;

-- User: "bob"
-- DROP USER "bob";
CREATE USER "bob" WITH ENCRYPTED PASSWORD '##########' LOGIN NOSUPERUSER INHERIT CREATEDB NOCREATEROLE REPLICATION;'
COMMENT ON ROLE "bob" IS 'Bob from the  Data Quality Team';
